apiVersion: apps/v1
kind: Deployment
metadata:
  name: ncr-serving-deployment
spec:
  selector:
    matchLabels:
      app: ncr-serving-deployment
  strategy:
    rollingUpdate:
      maxSurge: 5%
      maxUnavailable: 100%
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
        sidecar.istio.io/proxyCPU: "100m"
        sidecar.istio.io/proxyCPULimit: "1"
        sidecar.istio.io/proxyMemory: "175Mi"
        sidecar.istio.io/proxyMemoryLimit: "500Mi"
        proxy.istio.io/config: '{ "holdApplicationUntilProxyStarts": true }'
      labels:
        app: ncr-serving-deployment
    spec:
      containers:
      - name: ncr-serving-container
        image: us.gcr.io/nbcu-disco-mgmt-003/mlops/ncr-serving:e0ac7a9
        ports:
        - containerPort: 50052
          name: http
        - containerPort: 50051
          name: grpc
        resources:
          limits:
            cpu: 2
            memory: 1Gi
          requests:
            cpu: 1
            memory: 1Gi
        env:
        - name: DYNACONF_GRPC__PORT
          value: '50051'
        - name: DYNACONF_PROMETHEUS__PORT
          value: '50052'
        - name: DYNACONF_FEATURE_STORE_CLIENT__HOST
          value: 'ncr-sfs-mock-service'
        - name: DYNACONF_FEATURE_STORE_CLIENT__PORT
          value: '50053'
        - name: DYNACONF_TFS_CLIENT__HOST
          value: 'ncr-serving-tfs-mock-service'
        - name: DYNACONF_TFS_CLIENT__PORT
          value: '8500'
        - name: DYNACONF_GRPC__MAX_WORKERS
          value: '100'
        - name: DYNACONF_FEATURE_STORE_CLIENT__DEADLINE_MS
          value: '1000'
        - name: DYNACONF_FEATURE_STORE_CLIENT__HEALTH_DEADLINE_MS
          value: '1000'
        - name: DYNACONF_TFS_CLIENT__MODEL_SIGNATURE_INPUTS_KEY
          value: 'examples'
        - name: DYNACONF_SERVICE_HOSTNAME
          value: 'ncr-serving-service'
        - name: DYNACONF_SERVICE_PORT
          value: '50051'
        - name: DYNACONF_METHOD_NAME
          value: 'com.sky.recommendations.proto.v1.NCRService/GetSortedCatalogue'
        - name: DYNACONF_NUMBER_OF_REQUESTS
          value: '20000'
        - name: DYNACONF_NUMBER_OF_CONCURRENT_WORKERS
          value: '60'
        - name: DYNACONF_MAX_REQUESTS_PER_SECOND
          value: '150'
        - name: DYNACONF_REQUEST_TIMEOUT
          value: '10s'
        - name: DYNACONF_MAX_DEADLINE_EXCEEDED_TOTAL
          value: '2000'
        - name: DYNACONF_MAX_OTHER_RESPONSES_TOTAL
          value: '2000'
        - name: DYNACONF_REQUEST_FILE_NAME
          value: 'mock_request_input_data.json'
        livenessProbe:
          httpGet:
            path: ''
            port: 50052
          initialDelaySeconds: 60
          periodSeconds: 60
          timeoutSeconds: 20
          failureThreshold: 3
